.title{
    font-size: 100px;
    font-family: 'Helvetica';
    color: #F0E68C;
    background: url('./images/pattern.jpeg') repeat-x;
    text-align: center; 
    background-size: cover;  
}

h2{
    font-family: 'Helvetica';
    font-weight: bold;
}
h3{
    font-size: 1.17em;
}
.item h2{
    color: white;
    font-size: 32px;
}
p{
    font-family: 'Helvetica'
}
#brush{
    background-color: mediumspringgreen;
}
#frame{
    background-color: LightCoral;
}
#paint{
    background-color: SkyBlue;
}
a{
    text-decoration: none;
    color: Blue;
    font-weight: bold;
}